header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
    width: 100%;
    background: whitesmoke;
}

@media (max-width:768px) {
    header {
        padding: 2rem 1rem;
    }
}